[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
portpicker = "*"
async-timeout = "<4.0,>=3.0"
s2clientprotocol = "*"
aiohttp = "*"
pyglet = "*"
numpy = "*"
scipy = "*"
mpyq = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pillow = "*"
pytest-asyncio = "*"
hypothesis = "*"
pytest-benchmark = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
